html, body { 
    height: 100%; 
} 

body { 
    padding: 0; 
    margin: 0; 
    background-color: rgb(215, 215, 215); 
} 

@keyframes inNout {
    0% {
        transform: translate(-50%,-100%);
    }
    10%, 90% {
        transform: translate(-50%,-25%);
    }
    100% {
        transform: translate(-50%,-100%);
    }
}

/* INDEX VIEW */
.foresendt {
    animation: inNout 4s ease-in-out forwards;
}

#foresendt {
    left: 50%;
    transform: translate(-50%, -100%);
    background: lightgreen;
    padding: 10px 20px;
    border-radius: 10px;
}

.splash_art {
    width: 100%;
    height: 50%;
    background-image: url("icons/background.png");
    background-color: rgb(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1.85 / 1;
    box-shadow: 0 0 10px black inset;
    text-align: center;
    align-items: center;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

.requestLoan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ADMIN VIEW */
.listDiv {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 80px;
    width: 100%;
}
#listPage {
    overflow-x: auto;
}


#pcList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 30%;
}
#requestList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 40%;
}

#delete-btn { 
    width: 100%; 
    height: 100%; 
    background-color: green; 
    color: white; 
    font-weight: bold; 
    border: none; 
    cursor: pointer; 
    border-left: 2px solid black; 
    border-bottom: 1px solid black; 
} 

#delete-btn:hover { 
    background-color: rgb(0, 173, 0); 
} 
#delete-btn:active { 
    background-color: darkgreen; 
}

h4, h5 {
    margin: 0;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h4 {
    font-size: clamp(14px, 2vw, 24px);
}

h5 {
    white-space: normal;
    word-break: break-word;
}

#calendar { 
    display: none; 
    flex: 1; 
    width: 100%; 
    min-height: 0; 
    background-color: rgb(189, 189, 189); 
} 

.nav-btn { 
    display: flex; 
    align-items: center; 
    gap: 10px; /* space between icon and text */ 
    padding: 10px; 
    font-size: 20px; 
    cursor: pointer; 
} 

.nav-btn img { 
    width: 36px; 
    height: 36px; 
} 

#eventPopup { 
    box-shadow: 0 2px 8px rgba(0,0,0,0.3); 
    border-radius: 4px; 
    pointer-events: auto; 
} 

.fc-bg-event { 
    opacity: 1 !important; 
} 

.fc-event-title { 
    color: white 
} /* Optional: stronger color */ 

.fc-daygrid-day-frame { 
    background-clip: padding-box; 
}

.pcDiv {
    border-left: 1px solid black;
    border-right: 1px solid black; 
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
    background-color: white;
    text-align: center; 
}

.shit {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.decideButton {
    flex-basis: 50%;
}

#yesButton {
    background-color: greenyellow;
    transition: 0.2s;
    cursor: pointer;
}
#yesButton:hover {
    background-color: rgb(199, 255, 114);
}
#yesButton:active {
    background-color: rgb(124, 176, 47);
}
#noButton {
    background-color: red;
    transition: 0.2s;
    cursor: pointer;
}
#noButton:hover {
    background-color: rgb(255, 75, 75);
}
#noButton:active {
    background-color: rgb(198, 0, 0);
}

.edit-btn {
    background-color: grey;
    transition: 0.2s;
    cursor: pointer;
}
.edit-btn:hover {
    background-color: rgb(157, 157, 157);
}
.edit-btn:active {
    background-color: rgb(94, 94, 94);
}

.close-btn {
    background-color: red;
    transition: 0.2s;
    cursor: pointer;
}
.close-btn:hover {
    background-color: rgb(255, 75, 75);
}
.close-btn:active {
    background-color: rgb(198, 0, 0);
}