body {
    padding: 0; 
    margin: 0; 
    background-color: rgb(198, 198, 198);
}

.listDiv {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

h4, h5 {
    margin: 0px;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

h4 {
    font-size: 30px;
}
h5 {
    font-size: 20px;
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
}