html, body { 
    height: 100%; 
} 

body { 
    padding: 0; 
    margin: 0; 
    background-color: rgb(243, 251, 255);
    font-family: Arial, Helvetica, sans-serif; 
} 

#adminBtn {
    background-color: black;
    border: 2px solid rgb(11, 115, 170);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

@keyframes inNout {
    0% {
        transform: translate(-50%,-110%);
    }
    10%, 90% {
        transform: translate(-50%,-25%);
    }
    100% {
        transform: translate(-50%,-110%);
    }
}

/* INDEX VIEW */
.foresendt {
    animation: inNout 4s ease-in-out forwards;
}

#foresendt {
    left: 50%;
    transform: translate(-50%, -110%);
    background: lightgreen;
    padding: 10px 20px;
    border-radius: 10px;
    border: black solid 2px;
    box-shadow: 0 0 10px black;
}

.navbar {
    background-color: rgb(40, 76, 102); 
    box-shadow: 0 0 10px black; 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end; 
    align-items: center; 
    padding: 10px;
}
.navbar * {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.navButtons {
    transition: all 0.2s ease-in-out;
}
.navButtons:hover {
    color: rgb(214, 214, 214); 
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    transform: scale(1.05);
}

.splash_art {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.loading,
.loading * {
    cursor: wait !important;
}

#openFormButton :hover {
    background-color: rgb(157, 157, 157);
}

.requestLoan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aktivLåntDiv {
    display: none; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 10px;
}

/* ADMIN VIEW */
.listDiv {
    display: grid;

    grid-template-columns:
        1.1fr
        2.5fr
        1fr
        1.2fr
        1.5fr
        0.7fr;

    width: 100%;

    border: 2px solid rgba(125, 179, 255, 0.519);
    border-radius: 10px;

    overflow: hidden;
}
.listDiv > * {
    box-sizing: border-box;
    min-width: 0;
}

#listPage {
    overflow-x: auto;
}

#statusHeader {
    display: flex; 
    /* gap: 15px; */
}
#statusHeader * {
    flex: 1;
}
#statusHeader button {
    color: black; 
    cursor: pointer; 
    width: 30px;
    min-width: 0;
    padding: 0;
    font-size: 8px;
    overflow: hidden;
}

#pcList {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    /* width: 65%; */
}

.editPC {
    display:none; 
    opacity: 0;
    border: 2px rgba(143, 184, 241, 0.519) solid;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    background-color: white;
    padding: 40px; 
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    transform-origin: center;

    transition: 
        opacity 0.2s ease,
        transform 0.2s ease,
        display 0.2s ease allow-discrete; /* Keeps the element block during the exit animation */
}

.editPC.is-visible {
  /* 3. The target visible state */
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* 4. Define the entrance styles right before the element renders */
@starting-style {
  .editPC.is-visible {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.editForm * {
    margin: 5px;
}
.editForm input {
    border: 2px rgb(9, 79, 177) solid;
    padding: 5px;
    border-radius: 5px;
}


#filterBtn {
    width: 30px;
    background-color: rgb(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

#requestList {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 65%;
}

.today-rental {
    outline: 5px solid rgba(255,220,40,.3) !important;
    cursor: pointer;
}
.fc-bg-event {
    cursor: pointer;
}

.popupDeleteBtn { 
    width: 100%; 
    background-color: green; 
    color: white; 
    font-weight: bold; 
    border: none; 
    cursor: pointer; 
} 

.popupDeleteBtn:hover { 
    background-color: rgb(0, 173, 0); 
} 
.popupDeleteBtn:active { 
    background-color: darkgreen; 
}

#delete-btn { 
    width: 100%; 
    height: 100%; 
    background-color: green; 
    color: white; 
    font-weight: bold; 
    border: none; 
    cursor: pointer; 
    border-bottom: 1px solid black; 
} 

#delete-btn:hover { 
    background-color: rgb(0, 173, 0); 
} 
#delete-btn:active { 
    background-color: darkgreen; 
}

h4, h5 {
    margin: 0;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

h4 {
    font-size: clamp(14px, 2vw, 24px);
}

h5 {
    font-weight: normal;
    white-space: normal;
    word-break: break-word;
}

#calendar { 
    display: block; 
    flex: 1; 
    width: 100%; 
    min-height: 0; 
    background-color: rgb(243, 251, 255); 
} 

.nav-btn { 
    display: flex; 
    align-items: center; 
    gap: 10px; /* space between icon and text */ 
    padding: 10px; 
    font-size: 20px; 
    cursor: pointer; 
} 

.nav-btn img { 
    width: 36px; 
    height: 36px; 
} 

#eventPopup { 
    grid-template-columns: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3); 
    border-radius: 4px; 
    pointer-events: auto; 
    max-height: 95vh;
    overflow-y: auto;
    margin: 0;
    gap: 10px;
} 

.fc-bg-event { 
    opacity: 1 !important; 
} 

.fc-event-title { 
    color: white 
} /* Optional: stronger color */ 

.fc-daygrid-day-frame { 
    background-clip: padding-box; 
}

.fc .fc-toolbar.fc-header-toolbar {
    background-color: rgba(159, 199, 255, 0.519);
    padding-bottom: 1.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid rgba(0, 58, 138, 0.519);
    margin-bottom: 0px;
} 
.fc .fc-toolbar.fc-header-toolbar * {
    margin: 5px;
    margin-bottom: 0px;
}

.fc .fc-daygrid-day-bg .fc-bg-event {
    padding: 10px;
}


.pcDiv {
    border-bottom: 2px solid rgba(125, 179, 255, 0.519); 
    background-color: white;
    text-align: center; 
    padding: 10px;
}

.shit {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.decideButton {
    width: 100%;
    height: 100%
}

#yesButton {
    background-color: greenyellow;
    transition: 0.2s;
    cursor: pointer;
}
#yesButton:hover {
    background-color: rgb(199, 255, 114);
}
#yesButton:active {
    background-color: rgb(124, 176, 47);
}
#noButton {
    background-color: red;
    transition: 0.2s;
    cursor: pointer;
}
#noButton:hover {
    background-color: rgb(255, 75, 75);
}
#noButton:active {
    background-color: rgb(198, 0, 0);
}

.edit-btn {
    background-color: grey;
    transition: 0.2s;
    cursor: pointer;
}
.edit-btn:hover {
    background-color: rgb(157, 157, 157);
}
.edit-btn:active {
    background-color: rgb(94, 94, 94);
}

.close-btn {
    background-color: red;
    transition: 0.2s;
    cursor: pointer;
}
.close-btn:hover {
    background-color: rgb(255, 75, 75);
}
.close-btn:active {
    background-color: rgb(198, 0, 0);
}


.inputs:focus-within {
    border: 2px solid rgba(50, 32, 255, 0.455);

    box-shadow: 0 0 5px rgba(50, 32, 255, 0.455);
}
input {
    outline: none;
}


.statusBar {
  position: relative;

  width: 120px;
  height: 25px;

  border-radius: 15px;

  overflow: hidden;

  justify-self: center;
  align-self: center;

  display: flex;

  justify-content: center;
  align-items: center;

  margin: 10px;
}

.statusFill {
  position: absolute;

  top: 0;
  left: 0;

  height: 100%;

  transition:
    width 0.3s,
    background-color 0.3s;
}

.statusBar.green {
    background-color: rgba(154, 255, 139, 0.5);
}
.statusFill.green {
    background-color: rgba(154, 255, 139, 1);
}

.statusBar.yellow {
    background-color: rgba(255, 234, 0, 0.5);
}
.statusFill.yellow {
    background-color: rgba(255, 234, 0, 1);
}

.statusBar.red {
    background-color: rgba(255, 35, 35, 0.5);
}
.statusFill.red {
    background-color: rgba(255, 35, 35, 1);
}

.statusText {
  position: relative;

  z-index: 1;

  width: 100%;
  height: 100%;

  display: flex;

  justify-content: center;
  align-items: center;

  font-weight: bold;
}