body {
    padding: 0; 
    margin: 0; 
    background-color: rgb(154, 154, 154);
}

#listDiv {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

h4 {
    margin: 0px;
    margin-right: 10px;
    border-right: 2px solid black;
    text-align: center;
}