body, html {
  margin: 0;
  height: 100%;
}

.layout {
  display: flex;
  height: 100vh;
}

nav {
  width: 160px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

nav button {
  padding: 12px;
  font-size: 16px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.listDiv {
  display: grid;
  grid-template-columns: auto auto auto auto auto 60px;
}

.delete-btn {
  background: darkred;
  color: white;
  border: none;
  cursor: pointer;
}

#calendar, #pcPage {
  display: none;
  flex: 1;
}
